@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.glow {
  text-shadow: 0 0 10px rgba(76, 209, 228, 0.5);
}

.glow-hover {
  transition: all 0.3s ease;
}

.button-glow {
  box-shadow: 0 0 20px rgba(124, 58, 237, 0.5);
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }
}

.pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.glow-hover:hover {
  filter: drop-shadow(0 0 8px rgba(76, 209, 228, 0.5));
}

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* Disable right-click context menu */
img {
  pointer-events: none;
}